include README.md
include LICENSE.md
include requirements.txt
include requirements-dev.txt
include CITATION.cff
include CONTRIBUTING.md
include CLAUDE.md

recursive-include fluxmd/data *.json *.csv *.pdb
recursive-include docs *.rst *.md *.txt
recursive-include examples *.py *.ipynb
recursive-include tests *.py *.pdb *.json

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude .git*
global-exclude *.swp
global-exclude *~